
/*
  ============================================
  Landing Page Animations
  ============================================
*/

@import "compass/css3";


.fade-in {
  position: relative;
  height: 100%;
}
.fade-in li div  {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: titleAnimation 16s linear infinite 0s;
}
.fade-in li span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    position: absolute;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    animation: imageAnimation 16s linear infinite 0s;
}

.fade-in li:nth-child(1) span {
  background-image: url(../assets/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fade-in li:nth-child(2) span {
    background-image: url(../assets/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
  }
.fade-in li:nth-child(3) span {
    background-image: url(../assets/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}
.fade-in li:nth-child(4) span {
    background-image: url(../assets/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}

.fade-in li:nth-child(2) div {
    animation-delay: 4s;
}
.fade-in li:nth-child(3) div {
    animation-delay: 8s;
}
.fade-in li:nth-child(4) div {
    animation-delay: 12s;
}
@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    12.5% { opacity: 1; animation-timing-function: ease-out; }
    25% { opacity: 1  }
    37.5% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    12.5% { opacity: 1; animation-timing-function: ease-out; }
    25% { opacity: 1  }
    37.5% { opacity: 0 }
    100% { opacity: 0 }
}

/*
  ============================================
  Styles
  ============================================
*/

li {
  list-style-type: none;
}
h1 {
  text-align: center;
}
.top-bar {
  background-color:  #795548;
  color: #ff5722;
}
.menu li a {
  background-color: #795548;
  color: #fff;
  font-size: 20px;

}

/*
  ============================================
  Middle
  ============================================
*/

.text {
  position: relative;
  top: 25%;
}
h1.shake {
  animation-duration: 3s;
  animation-iteration-count: 10s;

  top: 10%;
}

.last {
    width: 100%;
    position: relative;
    top:60%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/animation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.designs img.back {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 30%;
  opacity: 0.5;
}
.cd-intro {
  position: relative;
  /*bottom: 30%;*/
  height: 50%;
}
.cd-intro h1{
    text-align: center;
    color:#fff;
    font-size: 80px;
    font-family: 'Lobster', italic;

}
#toggle {
    position: absolute;
    top: 50%;
    left: 45%;
    text-align: center;
  }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}

/* --------------------------------

xrotate-1

-------------------------------- */
.cd-headline.rotate-1 .cd-words-wrapper {
  perspective: 300px;
}
.cd-headline.rotate-1 b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
}
.cd-headline.rotate-1 b.is-visible {
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-1-in 1.2s;
}
.cd-headline.rotate-1 b.is-hidden {
  transform: rotateX(180deg);
  animation: cd-rotate-1-out 1.2s;
}
@keyframes cd-rotate-1-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes cd-rotate-1-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}

/* --------------------------------

xrotate-2

-------------------------------- */
.cd-headline.rotate-2 .cd-words-wrapper {
  perspective: 300px;
}
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em {
  display: inline-block;
  backface-visibility: hidden;
}
.cd-headline.rotate-2 i {
  transform-style: preserve-3d;
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0;
}
.is-visible .cd-headline.rotate-2 i {
  opacity: 1;
}
.cd-headline.rotate-2 i.in {
  animation: cd-rotate-2-in 0.4s forwards;
}
.cd-headline.rotate-2 i.out {
  animation: cd-rotate-2-out 0.4s forwards;
}
.cd-headline.rotate-2 em {
  transform: translateZ(20px);
}

.no-csstransitions .cd-headline.rotate-2 i {
  transform: rotateX(0deg);
  opacity: 0;
}
.no-csstransitions .cd-headline.rotate-2 i em {
  transform: scale(1);
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
  opacity: 1;
}

@keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0deg);
  }
}

@keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-90deg);
  }
}

/* --------------------------------

xloading-bar

-------------------------------- */
.cd-headline.loading-bar span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.loading-bar .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.loading-bar .cd-words-wrapper::after {
  /* loading bar */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #E6D925;
  z-index: 2;
  transition: width 0.3s -0.1s;
}
.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
  width: 100%;
  transition: width 3s;
}
.cd-headline.loading-bar b {
  top: .2em;
  opacity: 0;
  transition: opacity 0.3s;
}
.cd-headline.loading-bar b.is-visible {
  opacity: 1;
  top: 0;
}

/* --------------------------------

xslide

-------------------------------- */
.cd-headline.slide span {
  display: inline-block;
  padding: .2em 0 .3em;
}
.cd-headline.slide .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.slide b {
  opacity: 0;
  top: .2em;
}
.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  animation: slide-in 0.6s;
}
.cd-headline.slide b.is-hidden {
  animation: slide-out 0.6s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* --------------------------------

xscale

-------------------------------- */
.cd-headline.scale i {
  display: inline-block;
  opacity: 0;
  transform: scale(0);
}
.is-visible .cd-headline.scale i {
  opacity: 1;
}
.cd-headline.scale i.in {
  animation: scale-up 0.6s forwards;
}
.cd-headline.scale i.out {
  animation: scale-down 0.6s forwards;
}

.no-csstransitions .cd-headline.scale i {
  transform: scale(1);
  opacity: 0;
}

.no-csstransitions .cd-headline.scale .is-visible i {
  opacity: 1;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-down {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(0);
    opacity: 0;
  }
}
